<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta tag description author for SEO -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Design | Welcome</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
</head>
<style>
    .content img{
        margin-left: 10px;
        float: left;
        width: 30%;
        
    }
    .content p{
        padding-left: 10px;
        font-size:1.5em;
    }
    @media screen and (max-width: 800px) {
    .content img {
    float: none;
    width: 60%;
  }
  .content p{
      font-size: 1em
  }
}

</style>
<body>
    <!-- <div class="notification" style="text-align: center;background:mintcream;color: black;">Hello | Kumar</div> -->
    <header>
        <div class="container">
            <!-- logo -->
           <div id="branding">
               <h1><span class="highlight">IIY</span>Software</h1>
           </div>
           <!-- nav bar -->
           <nav class="topnav">
               <ul>
                    <li><a href= "/home">Home</a></li>
                    <li><a href= "/about">About Us</a></li>
                    <li><a href= "/video_listing">Videos</a></li>
                    <li><a href= "/notes">Notes</a></li>
                    <li><a href= "#">Quiz</a></li>
                    <li><a href= "#">Test</a></li>
               </ul>
           </nav>
        </div>
    </header>

    <div class="content" style="text-align: center;margin: 0 auto;">
        <h1 class="text1">About Us</h1>
        <img src="<%- location %>" alt="image">
        <p class="text2" style="width:89%;text-align: center;margin: 0 auto;padding-top: 5%"> <%= temp %> </p>
    </div>
    
    <!-- <footer>
        <p>Kumar Design <i class="fa fa-heart" style="font-size:15px;color: red;"></i> Copyright &copy; 2019</p>
    </footer> -->
<script src="js/script.js"></script>

    
</body>
</html>