<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta tag description author for SEO -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Design | Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- style -->
    <style>
        .container-video{
            text-align: center;
            margin: 15px;
        }
        .container-video video{
            width: 25%;
            padding: 1px;
            border: 1px solid white;
        }
        
        hr{
            width: 40%;
        }
        @media(max-width: 1024px){
            .container-video{
                display: grid;
            }
            .container-video video{
                width: 70%;
            }
        }
        form{
            color: black;
            margin: 10px;
        }
        .go-button{
            background: green;
            font-size: 99%;
            border-radius: 5px;
            height: 27px;
            width: 10%;
            color: white;
        }
        .video{
            height
            background:white;
        }
        
    </style>

</head>
<body>
    <!-- <div class="notification" style="text-align: center;background:mintcream;color: black;">Hello | Kumar</div> -->
    <header>
        <div class="container">
            <!-- logo -->
           <div id="branding">
               <h1><span class="highlight">IIY</span>Software</h1>
           </div>
           <!-- nav bar -->
           <nav class="topnav">
               <ul>
                    <li><a href= "/home">Home</a></li>
                    <li><a href= "/about">About Us</a></li>
                    <li><a href= "/video_listing">Videos</a></li>
                    <li><a href= "/notes">Notes</a></li>
                    <li><a href= "/quiz">Quiz</a></li>
                    <li><a href= "#">Test</a></li>
               </ul>
           </nav>
        </div>
    </header>
    <div class="container-video">
        
        <% video.forEach(function(data){ %>
            <a href="/video_listing/video_playback" class="video" style="text-decoration: none;"><video src="<%- data %>"></video></a>
        <% }) %>
    </div>
    
    
    


    
    
    <!-- <footer>
        <p>Kumar Design <i class="fa fa-heart" style="font-size:15px;color: red;"></i> Copyright &copy; 2019</p>
    </footer> -->
<script src="js/script.js"></script>
<script>
    
</script>

    
</body>
</html>