<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta tag description author for SEO -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Design | Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- style -->
    <style>
        button{
            font-size: 15px;
            margin: 3px;
            cursor: pointer;
        }

        .container-notes{
            text-align: center;
            margin: 0 auto;
            padding: 15px;
        }
        
        
        hr{
            width: 40%;
        }

        pre {
            white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
            white-space: -pre-wrap; /* Opera */
            white-space: -o-pre-wrap; /* Opera */
            white-space: pre-wrap; CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space
            /* word-wrap: break-word; IE 5.5+ bottom horizontal scroll bar*/
            overflow: auto;
        }

        @media(max-width: 1024px){
            
            
        }
    </style>

</head>
<body>
    <!-- <div class="notification" style="text-align: center;background:mintcream;color: black;">Hello | Kumar</div> -->
    <header>
        <div class="container">
            <!-- logo -->
           <div id="branding">
               <h1><span class="highlight">IIY</span>Software</h1>
           </div>
           <!-- nav bar -->
           <nav class="topnav">
               <ul>
                   <li><a href= "#">Home</a></li>
                   <li><a href= "#">About Us</a></li>
                   <li><a href= "#">Videos</a></li>
                   <li><a href= "#">Notes</a></li>
                   <li><a href= "#">Quiz</a></li>
                   <li><a href= "#">Test</a></li>
                   
               </ul>
           </nav>
        </div>
    </header>
    <div class="content" style="text-align: center;">
            <h2 class="text1">Welcome Admin | View Notes</h2>
            <button onclick="window.location.href='/admin'" style="background: green;">Home</button>
            <button>View Student Details</button>
            <button >View AboutUs</button>
            <button>View Videos</button>
            <button>View Notes</button>
            <button>View Quiz</button>
        </div>
    <div class="container-notes">
        <pre style=""> <%= readme %> </pre>
    </div>

    
    


    
    
    <!-- <footer>
        <p>Kumar Design <i class="fa fa-heart" style="font-size:15px;color: red;"></i> Copyright &copy; 2019</p>
    </footer> -->
<script src="js/script.js"></script>
<script>
    
</script>

    
</body>
</html>